.App {
  text-align: center;
  background-color: #434137;
  color: #FEFEFE;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.TeamsContainer {
  order: 1;
}

.PicksContainer {
  order: 3;
}

.HeroesListContainer {
  order: 2;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#HeroesListBox {
  height: 5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#radiantTeam {
  padding: 1em;
  margin: 1em;
  order: 1;
}

.WinCalc-Container {
  padding: 1em;
  margin-bottom: 1em;
}

#direTeam {
  padding: 1em;
  margin: 1em;
  order: 2; 
}

#bans {
  padding: 1em;
  margin: 1em;
}

.teamToggleButton {
  margin-bottom: 1em;
}

.radiantWinrateContainer {
  margin: 1em;
}

.direWinrateContainer {
  margin: 1em;
}

#teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.teamMember {
  margin: 1em;
}

.teamMember p {
  margin-bottom: .5em;
  padding: 0px;
}

.Picks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#bestPicks {
  margin-right: 1em;
  order: 1;
}

#worstPicks {
  margin-left: 1em;
  order: 2;
}
